.banner-container {
  width: 90%;
  margin: 0 auto;
  .banner {
    img {
      width: 100%;
    }
  }

  .banner-text {
    text-align: center;
    h1 {
      font-size: 1.9rem;
      line-height: 2.5rem;
    }

    p {
      margin: 1.5rem 0;
      color: var(--color4);
      font-weight: 400;
    }

    button {
      font-size: 18px;
      margin-bottom: 1rem;
    }
  }
}

@media (width> 768px) {
  .banner-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    .banner-text {
      text-align: left;
    }
  }
}
