header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  position: relative;
  width: 90%;
  margin: 0 auto;

  .menu-hamburger {
    border: none;
    background-color: transparent;

    i {
      font-size: 1.7rem;
    }
  }

  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    background-color: var(--color2);
    position: absolute;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    display: none;
    top: 81px;

    ul {
      list-style: none;
      hr {
        margin: 10px 0;
        opacity: 0.2;
      }
      li {
        padding: 10px;
        margin: 10px 0;
        a {
          color: white;
          text-decoration: none;
        }
      }
      li:last-child {
        background-color: var(--color1);
        width: 100%;
      }
    }
  }
}

@media (width> 768px) {
  header {
    .mobile-menu,
    .menu-hamburger {
      display: none;
    }

    .desktop-menu {
      display: flex;
      justify-content: space-between;
      width: 100%;
      ul {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 2rem;
        padding-left: 2rem;
        li {
          a {
            color: var(--color4);
            text-decoration: none;
          }
        }
      }
      .rigth-menu {
        li:last-child {
          a {
            color: white;
          }
        }
      }
    }
  }
}
