.stats {
  background-color: #f4f4f4;

  text-align: center;

  .stats-title {
    h2 {
      margin-bottom: 1rem;
    }
    p {
      color: var(--color4);
      font-size: medium;
      margin-bottom: 5rem;
    }
  }

  .stats-cards {
    display: flex;
    flex-direction: column;
  }
}


@media (width> 768px) {


  .stats {

  
    .stats-cards {
      flex-direction: row;
    }
  }
}
