.card {
  background-color: white;
  margin: 5rem auto;
  position: relative;
  max-width: 280px;
  padding: 50px 20px;

  figure {
    background-color: var(--color2);
    border-radius: 50%;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h3 {
    margin: 20px 0 10px 0;
  }
  p {
    color: var(--color4);
    font-size: medium;
  }
}
